<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="navbar">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Travel Agency</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/}" th:text="#{navbar.home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/vouchers}" th:text="#{navbar.vouchers}">Vouchers</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}" th:text="#{navbar.about}">About</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}" th:text="#{navbar.profile}">Profile</a></li>
            </ul>

            <!-- Language Switcher -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" th:text="#{navbar.language}">Language</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                        <li><a class="dropdown-item" th:href="@{__${currentUri}__(lang='en')}">🇬🇧 English</a></li>
                        <li><a class="dropdown-item" th:href="@{__${currentUri}__(lang='ua')}">🇺🇦 Українська</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
